@model SmartMove.Models.Vote

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateVoted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateVoted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VotedTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VotedTeam)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.VoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
