@model SmartMove.ViewModels.VoteMatch.VoteMatch

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    Matches
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UnVotedMatches.First().MatchDate)
        </th>
        <th>
            Guest Team
        </th>
        <th>
            VS
        </th>
        <th>
            Home Team
        </th>
        <th>result</th>
    </tr>

    @foreach (var item in Model.UnVotedMatches)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                <a asp-action="create" asp-controller="Votes"  asp-route-id="0" asp-route-teamid="@item.GuestTeamId" asp-route-matchid="@item.MatchId">
                    <img src="~/images/@item.GuestTeam.Logo" alt="@item.GuestTeam.Name" class="img-responsive" />
                </a>
            </td>
            <td>
                <h3>VS</h3>
            </td>
            <td>
                <a asp-action="create" asp-controller="Votes" asp-route-id="0" asp-route-teamid="@item.HomeTeam.TeamId" asp-route-matchid="@item.MatchId">
                    <img src="~/images/@item.HomeTeam.Logo" alt="@item.HomeTeam.Name" class="img-responsive" />
                </a>
            </td>
            <td>
                <p>asd</p>
            </td>

        </tr>
    }
</table>
<p>
    Voted Matches
</p>
<table class="table">
    <tr>
        <th>
            Date Match
        </th>
        <th>
            Home Team
        </th>
        <th>
                VS
        </th>
        <th>
            Guest Team
        </th>
        <th>
            result
        </th>
    </tr>

    @foreach (var item in Model.Votes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchDate)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Votes" asp-route-id="@item.VoteId" asp-route-teamid="@item.Match.GuestTeam.TeamId" >
                    <img src="~/images/@item.Match.GuestTeam.Logo" alt="@item.Match.GuestTeam.Name" class="img-responsive" />
                </a>
            </td>
            <td>
                <h3>VS</h3>
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Votes" asp-route-id="@item.VoteId" asp-route-teamid="@item.Match.HomeTeam.TeamId">
                    <img src="~/images/@item.Match.HomeTeam.Logo" alt="@item.Match.HomeTeam.Name" class="img-responsive" />
                </a>
            </td>
            <td>
                <img src="~/images/@item.VotedTeam.Logo" alt="@item.VotedTeam.Name" class="img-responsive" />
            </td>

        </tr>
    }
</table>
