@model SmartMove.ViewModels.VoteMatch.VoteMatch

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    Matches
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnVotedMatches.First().MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnVotedMatches.First().GuestTeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnVotedMatches.First().MatchDate)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model.UnVotedMatches) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestTeamId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>
       
    </tr>
}
</table>
<p>
    Voted Matches
</p>
<table class="table">
    <tr>
        <th>
            Home Team
        </th>
        <th>
            Guest Team
        </th>
        <th>
            Date Match
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model.Votes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Match)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.GuestTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.MatchDate)
        </td>
       
    </tr>
}
</table>
