@model IEnumerable<SmartMove.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuestPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WiningTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playday)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GuestPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiningTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playday)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
        </td>
    </tr>
}
</table>
